# ================================
# MentorHub Backend — Environment
# ================================

# Server
SERVER_PORT=8088
SERVER_READ_TIMEOUT=10s
SERVER_WRITE_TIMEOUT=10s

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=mentorhub
DB_PASSWORD=mentorhub_secret
DB_NAME=mentorhub_db
DB_SSLMODE=disable

# JWT  (минимум 32 символа для production!)
JWT_SECRET=your_super_secret_key_min_32_chars_here_change_me
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h
